.file-name-col {
    display: flex;
    align-items: center;
}

.file-name-col span {
    padding: 0 6px 0 6px;
}

.list-icon-type {
    display: inline-block;
    color: #FFC107;
    font-size: 28px;
}

.a-file-click {
    color: rgb(117, 117, 117);
}

.my-list-item :hover {
    background-color: rgba(169, 169, 169, 0.397);
    transition: 800ms;
    border-radius: 3px;
}